body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.categoryDropdown {
  width: 100%;
  border-radius: 4px;
  height: 35px;
  border-color: #83ccc5;
}
.categoryErrorMsg {
  color: red;
  text-align: left;
  font-size: 14px;
}
.details-card-info{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 5px;
  padding: 4px;
  width: 100%;
}
.h1{
  overflow: hidden;
  text-align: center;
}
.searchform{
  margin: auto;
  padding: 15px;
  max-width: 550px;
  align-content: center;
 
  

}
.bttn{
  background-color: rgba(25, 123, 214, 0.877);
  border-radius: 5px;
  height: 39px;
   
  margin-top: 8px;
}
.desc{
  height: 50px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: justify
  ;
  
}
.latest-title{
  color: black;
  font-weight: 600;
  font-family: monospace;
  margin-left: -37px;
}
.last{
  
  display: flex;

  flex-direction: column-reverse;
  
}
.sear{
  border: 2px solid white;
  display: flex;
  flex-direction: row;
}
.navbar-brand {
  
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}


.text{
  text-align: justify;
  padding-top: 10px;
}